{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4 p-auto push-down ml-5">
                <img class="home-img" src="{% static 'amsapp/img/mobile bank.jpg' %}" alt="bank iso">
            </div>
            <div class="col-6 mt-5 push-down push-log">
                <div class="card">
                    <div class="card-header bg-dark">
                        <p class="card-title text-light">
                            {{ title }}
                        </p>
                    </div>
                    <form action="{% url 'change_password' %}" method="post">
                        {% csrf_token %}
                        <div class="card-body bg-light">
                            <div class="form-row">
                                <div class="form-group col-12 m-auto">
                                    <label class="form-check-label text-light" for="username">New Password:</label>
                                    <input name="username" id="username" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12 m-auto">
                                    <label class="form-check-label text-light" for="password">Confirm Password:</label>
                                    <input name="password" id="password" class="form-control" type="password">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-primary">
                            <button type="submit" class="btn btn-primary text-light">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}